<div *ngIf="action && action.isActive" class="action">
	<div>
		<span (click)="deleteAction()" class="delete glyphicon glyphicon-trash"></span>
		<h4>{{action.type}}</h4>
	</div>
	<div *ngIf="action.properties">
		<div *ngFor="let property of action.properties">
			{{property.name}}: 
            <span [ngSwitch]="getPropertyMetaData(property).dataType">
                <select *ngSwitchCase="'select'" [(ngModel)]="property.value">
                    <option *ngFor="let op of getPropertyMetaData(property).options" [value]="op.value">{{op.display}}</option>
                </select>
                <label *ngSwitchCase="'datetime'">@TODO: DateTime picker</label>
                <input *ngSwitchDefault [(ngModel)]="property.value">
            </span>            
		</div>
	</div>
    <!--<div><pre><small>{{metaData | json}}</small></pre></div>-->

</div>
