<h3>Rule</h3>

<div *ngIf="_rule; else noRuleTemplate">
	<div>Id: {{_rule.id}}</div>
	<div>Name: <input [(ngModel)]="_rule.name"></div>
	<div *ngIf="_rule.expression; else noExpressionTemplate">
		<h3>Expression</h3>
		<expression-view [expression]="_rule.expression" [isRoot]="true"></expression-view>
	</div>

	<div *ngIf="_rule.actions; else noActionsTemplate">
		<h3>Actions</h3>
		<div *ngFor="let action of _rule.actions">
			<action-definition [action]="action"></action-definition>
		</div>
		<span (click)="addAction('email')" class="link glyphicon glyphicon-plus">email</span>
		<span (click)="addAction('change-category')" class="link glyphicon glyphicon-plus">change-category</span>
		<span (click)="addAction('add-property')" class="link glyphicon glyphicon-plus">add-property</span>
	</div>

	<!-- Debug -->
	<div style="background-color:lightgoldenrodyellow; padding: 5px; margin-top: 20px">
		<h3>Debug</h3>
		<button (click)="clear()">clear</button>
		<button (click)="clearExpression()">clear expression</button>
		<div><pre><small>{{_rule | json}}</small></pre></div>
	</div>
</div>

<ng-template #noRuleTemplate>
	<div>Loading...</div>
</ng-template>

<ng-template #noExpressionTemplate>
	<div><a (click)="addNewExpression()">Add an expression</a></div>
</ng-template>

<ng-template #noActionsTemplate>
	<div>@TODO: Add action</div>
</ng-template>
