start
<ul>
    <li *ngFor="let parentNode of menuList">
        <div>
            <span> {{ parentNode.title }}</span>
			(p)
        </div>
        <ul>
            <li *ngFor="let childNode of parentNode.children">
                <div>
                    <span>{{childNode.title}}</span>
					(c)
                </div>
                <div *ngIf="childNode.children && childNode.children.length > 0">
                    <tree-view [menuList]="childNode.children"></tree-view>
                </div>
            </li>
        </ul>
    </li>
</ul>
end