<div *ngIf="expression && expression.isActive">

    <!-- Expression -->
    <div class="expression" [class.highlightExpression]="isMouseOverDelete">
		<span *ngIf="!isContainer">
			<select [(ngModel)]="expression.operand">
				<option *ngFor="let op of operands" [value]="op">{{op}}</option>
			</select>

			<input *ngIf="expression.operand=='Property'" [(ngModel)]="expression.argument">
		</span>

		<span *ngIf="isContainer">
			<select [(ngModel)]="expression.operator">
				<option *ngFor="let op of groupOperators" [value]="op">{{op}}</option>
			</select>

			<i (click)="addGroup()" class="link new-group fa fa-plus-circle"></i>
		</span>

		<select *ngIf="!isContainer" [(ngModel)]="expression.operator">
			<option *ngFor="let op of expressionOperators" [value]="op">{{op}}</option>
		</select>

        <input *ngIf="!isContainer" [(ngModel)]="expression.value">

        <div *ngIf="!isRoot" class="link delete" (mouseenter)="delMouseEnter()" (mouseleave)="delMouseLeave()" (click)="deleteExpression()"><i class="fa fa-trash-o"></i></div>

		<!-- Children -->
		<div *ngIf="isContainer" class="group-expression">
			<div *ngFor="let child of expression.children">
				<expression-view [expression]="child" [isRoot]="false"></expression-view>
			</div>
			<i (click)="addChild()" class="fa fa-plus link new-expression"></i>
		</div>
    </div>

</div>

<div *ngIf="!expression">
    <div>!! null expression  !!</div>
</div>