<div *ngIf="expression && expression.isActive">

    <!-- Expression -->
    <div [ngClass]="isRoot ? 'root-expression' : 'expression'" [class.highlightExpression]="isMouseOverDelete">
		<span *ngIf="!isContainer">
			<select [(ngModel)]="expression.operand">
				<option *ngFor="let op of operands" [value]="op">{{op}}</option>
			</select>

			<input *ngIf="expression.operand=='Property'" [(ngModel)]="expression.argument">
		</span>

		<span *ngIf="isContainer">
			<select [(ngModel)]="expression.operator">
				<option *ngFor="let op of groupOperators" [value]="op">{{op}}</option>
			</select>

			<span (click)="addGroup()" class="link glyphicon glyphicon-plus"></span>
		</span>

		<select *ngIf="!isContainer" [(ngModel)]="expression.operator">
			<option *ngFor="let op of expressionOperators" [value]="op">{{op}}</option>
		</select>

        <input *ngIf="!isContainer" [(ngModel)]="expression.value">

        <div *ngIf="!isRoot" class="link delete" (mouseenter)="delMouseEnter()" (mouseleave)="delMouseLeave()" (click)="deleteExpression()">
			<span class="link glyphicon glyphicon-trash"></span>
		</div>

		<!-- Children -->
		<div *ngIf="isContainer" class="group-expression">
			<div *ngFor="let child of expression.children">
				<expression-view [expression]="child" [isRoot]="false"></expression-view>
			</div>

			<span (click)="addChild()" class="link indent glyphicon glyphicon-plus"></span>
		</div>
    </div>

</div>

<div *ngIf="!expression">
    <div>!! null expression  !!</div>
</div>